.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .pagination a:hover {
    background-color: #ddd;
  }
  
  .pagination .active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .forms-container {
width: 971px;
height: 163px;
margin-top: 20px;
background: #A4CAFF;
border-radius: 20px;
  }