
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  }

.reset {

    background-color: rgba(23,73,141,0.9);
    width: 555px;
    height: 764px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    
  }
  .reset-h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
    position: relative;
    top: -300px;
    left: 40px;

}

.reset-p
{
    color:#c4c7cb;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    top: -270px;
    left:-205px;
}
.reset-form{
    position: absolute;
    top:400px;
    left: 300px;
}
.reset-form--label-pass{
    color:#c4c7cb;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: -193px;
    left:-465px;
}
.reset-form--label-confirm
{
    color:#c4c7cb;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: -163px;
    left:-435px;
}
.reset-form--input-pass {
    position: relative;
    top: -180px;
    left: -270px;
  }
.reset-form--input-confirm{
    position: relative;
    top: -150px;
    left: -270px;
}

.reset-btn{

    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 10px;
     gap: 10px;
     outline: none;
     position:absolute;
     width: 260px;
     height: 60px;
     left: -160px;
     top: 100px;
     background: #005cdd;
     border-radius: 20px;

}

  input[type="password"] {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 0px;
gap: 8px;

width: 471px;
height: 63px;

background: #E6EAFF;
border: 1px solid #636363;
border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
  }


.check{
 position: absolute;
 left:-273px;
 top:50px;
}
 input[type="checkbox"] {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 24px;
    height: 24px;
    
    background: #E6EAFC;
    border: 1px solid #94A2BA;
    border-radius: 4px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
      }
.text1
{
    position: absolute;
    left:-243px;
    top:55px;
    width: 105px;
height: 24px;

/* Body/Regular Large */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.forgot
{
position: absolute;
top: 57px;
left: 80px;

/* Body/Regular Large */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

color: #FFFFFF;
}

.text3{
    position: absolute;
    top:280px;
    left:-200px;
    width: 165px;
height: 24px;

/* Body/Regular Large */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.text4
{   
position: absolute;
top:278px;
left:60px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
font-weight: bold;

}

@media (max-width: 600px) {
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6  );
    
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media (min-width: 1001px) {
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
}
