
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  }

.forgt {

    background-color: rgba(23,73,141,0.9);
    width: 555px;
    height: 764px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  
    
  }
  .forgt-h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
    position: relative;
    top: -300px;
    left: 45px;

}

.forgt-p
{
    color:#c4c7cb;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    position: relative;
    top: -270px;
    left:-215px;
}
.forgt-form{
    position: absolute;
    top:350px;
    left: 310px;
}
.forgt-form--label{
    color:#c4c7cb;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: -170px;
    left:-480px;
}
::-webkit-input-placeholder {
    position: relative;
    left: 15px;
    color:  #94A2BA;
   }
.forgt-form--input
{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: -160px;
    left:-270px;
}
.emailinput {
    position: relative;
    top: -180px;
    left: -270px;
  }
.passwordinput{
    position: relative;
    top: -150px;
    left: -270px;
}


.check{
 position: absolute;
 left:-273px;
 top:50px;
}

.text1
{
    position: absolute;
    left:-243px;
    top:55px;
    width: 105px;
height: 24px;

/* Body/Regular Large */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.forgot
{
position: absolute;
top: 57px;
left: 80px;

/* Body/Regular Large */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

color: #FFFFFF;
}

.text3{
    position: absolute;
    top:280px;
    left:-200px;
    width: 165px;
height: 24px;

/* Body/Regular Large */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.text4
{   
position: absolute;
top:278px;
left:60px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
font-weight: bold;

}
.forgt-btn{
    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 10px;
     gap: 10px;
     outline: none;
     position:absolute;
     width: 260px;
     height: 60px;
     left: -160px;
     top: 0px;
   
     background: #005cdd;
     border-radius: 20px;
   }