html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body{
    background-color: white;
}
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  }

.log{

   background-color: rgba(23,73,141,0.9);
    width: 555px;
    height: 764px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    
  }
  .log-tit{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
    position: relative;
    top: -330px;
    left: 20px;

}

a {
  color: #FFFFFF;
  text-decoration: none;
}
.log-txt
{
    color:#c4c7cb;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 90px;
    left:20px;
}
.log-form{
    position: absolute;
    top:170px;
    left: 40px;
}
.log-form--label{
  position: absolute;
  left: 10px;
  margin-top:10px ;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 40px;
   color: white;
  }
  .log-form--input{
    box-sizing: border-box;
  
    /* Auto layout */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    gap: 8px;
  
    width: 471px;
    height: 63px;
  
    background: #e6eaff;
    border: 1px solid #636363;
    border-radius: 6px;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
  margin-top: 20px;
  color: black;
  
  }

input[type="email"] {
    box-sizing: border-box;

/* Auto layout */
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 0px;
gap: 8px;

width: 471px;
height: 63px;

background: #E6EAFF;
border: 1px solid #636363;
border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
  }


  input[type="password"] {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 0px;
gap: 8px;
font-family: 'Roboto', sans-serif;
width: 471px;
height: 63px;

background: #E6EAFF;
border: 1px solid #636363;
border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
  }


.log-check{
 position: relative;
 left:-220px;
 top: 70px;

}
 input[type="checkbox"] {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 24px;
    height: 24px;
    
    background: #E6EAFC;
    border: 1px solid #94A2BA;
    border-radius: 4px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
      }
.log-remb
{
    position: absolute;
    left:760px;
    top:544px;
    width: 105px;
  height: 24px;

/* Body/Regular Large */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.log-forgot
{
position: absolute;
top: 543px;
left: 1060px;

/* Body/Regular Large */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

color: #FFFFFF;
}

  .log-btn{
    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 10px;
     gap: 10px;
     outline: none;
     position:absolute;
     width: 260px;
     height: 60px;
     left: 830px;
     top: 660px;
   
     background: #005cdd;
     border-radius: 20px;
   }
.log--dntacc{
    position: absolute;
    top:780px;
    left:830px;
    width: 165px;
height: 24px;

/* Body/Regular Large */
scale: 120%;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.log-sign
{   
position: absolute;
top:780px;
left:1030px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.5px;
word-spacing: -1px;
font-weight: bold;

}
