body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    
 
    line-height: 1.4;
    top:35%;
    left: 45%;
    background: rgba(255,218,218,255);
    padding: 14px 28px;
    border-radius: 15px;
    width: 670px;
    height: 644px;
    scale: 70%;
  
}
.modal-content1 {
    position: absolute;
    
 
    line-height: 1.4;
    top:35%;
    left: 43%;
    transform: translate(-50%, -50%);
    background: rgba(255,218,218,255);
    padding: 14px 28px;
    border-radius: 15px;
    width: 670px;
    height: 644px;
    scale: 70%;
  
}

.close-modal {
    position: absolute;
    background-color: #fff;
    top: 10px;
    width: 200px;
    border-radius: 15px;
    height: 46px;
    right: 10px;
    color: #3C5681;
    padding: 5px 7px;
    left: 150px;
    top: 500px;
}       
.message1{
position: absolute;
width: 308px;
height: 40px;
left: 205px;
top: 350px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
text-align: center;

color: #720000;

}
.delete-dynamic-field{

    position: absolute;
    background-color: #D30000;
    top: 10px;
    width: 200px;
    border-radius: 15px;
    height: 46px;
    right: 10px;
    color: #fff;
    padding: 5px 7px;
    left: 390px;
    top: 500px;
}
.message2{
position: absolute;
width: 362px;
height: 62.53px;
left: 175px;
top: 400px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 40px;
/* or 167% */

display: flex;
align-items: center;
text-align: center;

color: #9D5151;
}
.message1_delop{
    position: absolute;
width: 308px;
height: 40px;
left: 255px;
top: 350px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
text-align: center;

color: #720000;

}
.at-t1{
    position: absolute;
width: 308px;
height: 40px;
left: 270px;
top: 400px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
text-align: center;

color: #720000;

}

.at-t2 {
    position: absolute;
    width: 362px;
    height: 62.53px;
    left: 165px;
    top: 450px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal; /* or line-height: 1.2; */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #9D5151;
  }
  
  .close-modal-a {
    position: absolute;
    background-color: #fff;
    top: 60px;
    width: 200px;
    border-radius: 15px;
    height: 46px;
    right: 10px;
    color: #3C5681;
    padding: 5px 7px;
    left: 130px;
    top: 550px;
}   
.delete-dynamic-field-a{

    position: absolute;
    background-color: #D30000;
   
    width: 200px;
    border-radius: 15px;
    height: 46px;
    right: 10px;
    color: #fff;
    padding: 5px 7px;
    left: 375px;
    top: 550px;
}
.img-a{
    position: absolute;
    left: 200px;
}

.generate-m{
    position: absolute;
width: 598px;
height: 40px;
left: 60px;
top: 427px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
text-align: center;

color: #002372;
}

.modal-content-generate {
    position: absolute;
    
 
    line-height: 1.4;
    top:5%;
    left: 27%;
    background: rgba(164,205,255,255);
    padding: 14px 28px;
    border-radius: 15px;
    width: 670px;
    height: 644px;
    scale: 70%;
  
}
.generate-url-b{

    width: 99px;
    height: 20px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 83% */
    
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    background-color: #0377ff;
    top: 10px;
    width: 200px;
    border-radius: 15px;
    height: 46px;
    right: 10px;
    color: #fff;
    padding: 5px 7px;
    left: 390px;
    top: 500px;
}
.close-modal-g{
width: 62px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */


color: #3C5681;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
position: absolute;
    background-color: #fff;
    top: 10px;
    width: 200px;
    border-radius: 15px;
    height: 46px;
    right: 10px;
    color: #3C5681;
    padding: 5px 7px;
    left: 150px;
    top: 500px;
}