.bg-re {
    position: absolute;
    

    width: 1016px;
    height: 764px;
    left: 700px;
    top: 200px;
   
    background: linear-gradient(
      0deg,
      rgba(0, 56, 135, 0.85),
      rgba(0, 56, 135, 0.85)
    );
    border-radius: 30px;
  }
  .log-back-img1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .t1-ca {
    position: relative;
    width: 471px;
    height: 40px;
    left: 35px;
    top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
  
    color: #ffffff;
  }
  .t2-ca {
    position: relative;
    width: 471px;
    height: 24px;
    left: 35px;
    top:-0px;
  
    /* Body/Bold Large */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    color: #cecece;
  }
  .t3-ca {
    position: relative;
    width: 471px;
    height: 32px;
    left: 260px;
    top: 30px;
  
    /* Heading/H4 */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
  
    text-align: center;
  
    color: #fff;
  }
  .bx {
    position: absolute;
    left: 60px;
    top: 150px;
  }
  .bx-1 {
    float: right;
    position: relative;
    width: 298px;
    height: 390px;
    margin-left: 20px;
    left: -45px;
    top: 10px;
  
    background: #002558;
    box-shadow: 4px 4px 4px rgba(64, 123, 255, 0.66);
    border-radius: 30px;
  }
  .t4 {
    width: 227px;
    height: 24px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #ffffff;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .t5-ca {
    width: 56px;
    height: 24px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #ffffff;
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    top: 0px;
    left: 10px;
  }
  .tx-2 {
    left: 270px;
    top: 500px;
    position: absolute;
    justify-content: center;
  }
  .tx-3 {
    left: 500px;
    top: 500px;
    position: absolute;
    justify-content: center;
  }
  .img-1 {
    position: relative;
    scale: 85%;
    right: 20px;
    top:-30px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-2 {
    position: relative;
    scale: 75%;
    top: 5px;
    right: -10px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-3 {
    position: relative;
    scale: 85%;
    top: -40px;
    right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .individual-t{
    position: absolute;
width: 106px;
height: 32px;
left:95px;
top: 320px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #FFFFFF;

  }
.pub-t{
  position: absolute;

top: 320px;
left: 60px;
bottom: 0%;
width: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #FFFFFF
}
.company-t{
  position: absolute;
left: 100px;
top: 320px;
bottom: 0%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #FFFFFF;

}